__pycache__
*/__pycache__
*/*/__pycache__
.vscode
*.png
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.tif
*.gif
*.tif.aux.xml
*.log
*.aux
*.pdf
archive.zip

data/*.csv
data/*.pkl
data/*.md
data/*.tif
data/*.tif.aux.xml
data/*.cpg
data/*.dbf
data/*.prj
data/*.qmd
data/*.shx
data/*.shp
data/prediction

figures/*.png
figures/*.pdf
figures/*.md
figures/*.tex

src/*.png
src/*.pptx
src/*.csv

scripts/test.py

manuscript/*.docx
manuscript/*.bib
manuscript/*.bbl
manuscript/*.blg
manuscript/*.md
manuscript/*.txt