__pycache__
*/__pycache__
*/*/__pycache__
.vscode
*.png
*.gpkg
*.gpkg-shm
*.gpkg-wal
*.tif
*.gif
*.tif.aux.xml

data/*.csv
data/*.pkl
data/*.md
data/*.tif
data/*.tif.aux.xml

figures/*.png
figures/*.pdf

src/*.png
src/*.pptx
src/*.csv
